{#
/**
 * @file
 * The chatbot web interface.
 *
 * Gets included in the widget iframe.
 */
#}
<!doctype html>
<html>
<head>
    <title>Chat</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/{{ css_path }}">
</head>
<body>
<script id="botmanWidget" src='https://cdn.jsdelivr.net/npm/botman-web-widget@0/build/js/chat.js'></script>
</body>
</html>
